{% extends "base.html" %}
{% block content %}

<div class="content">
  <section class="row">
    <div class="col-md-2 left-margin">
      <h3>{{category.name}}</h3>
      {% for i in items %}
          <a href="/catalog/{{category_id}}/{{i.id}}">{{ i.name}}</a>
          <br>
       {% endfor %}
       <br>
       <a href="/catalog/{{category_id}}/new">Add new item</a>

    </div>

    <div class="col-md-10 right-margin">
      <h2>{{item.name}}</h2>
      <p>

          Description: {{item.description}}
          <br />
          Creator: {{creator}}

      </p>
      <a href="/catalog/{{category_id}}/{{item_id}}/edit">Edit</a>
      <a href="/catalog/{{category_id}}/{{item_id}}/delete">Delete</a>
    <br><br>
    </div>
  </section>
</div>




{% endblock %}
